/* Default styles */
.wd-tabs li {
  display: inline;
}

.wd-tabs {
  padding-left: 0px;
}

.wd-selected {
  border-bottom: 2px blue solid;
  padding-bottom: 20px;
}

.wd-nudge-up {
  bottom: 18px;
  left: 25px;
}

.wd-bottom-2 {
  bottom: 2px;
}

.wd-bottom-4 {
  bottom: 4px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3em;
  text-align: center;
  margin-top: 0;
}

h2 {
  font-size: 2em;
  margin-top: 1.5em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

table {
  border-collapse: collaseparatepse;
  width: 100%;
  margin-top: 1em;
}

th,
td {
  padding: 0.5em;
  text-align: center !important;
}

th {
  background-color: #eee;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Media queries */
@media (max-width: 768px) {
  /* Adjust font sizes for smaller screens */
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
    margin-top: 1rem;
  }

  ul li {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }

  table {
    margin-top: 1.5em;
    font-size: 0.75rem;
  }

  th,
  td {
    padding: 0.25em;
  }
}

@media (max-width: 480px) {
  /* Adjust layout for even smaller screens */
  h1 {
    font-size: 1.5rem;
    margin-top: 1rem;
  }

  h2 {
    font-size: 1.25rem;
    margin-top: 1rem;
  }

  ul li {
    font-size: 0.875rem;
    margin-bottom: 0.25rem;
  }

  table {
    margin-top: 1em;
    font-size: 0.625rem;
  }

  th,
  td {
    padding: 0.125em;
  }
}

/* Custom styles */
.p-5 {
  padding: 5rem;
}

.list-group-item {
  border: none;
}

.list-group-item:not(:last-child) {
  border-bottom: 1px solid #dee2e6;
}

.list-group-item:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.list-group-item:last-child {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}


@media (max-width: 768px) {
  .list-group-item {
    font-size: 0.875rem;
  }
}

@media (max-width: 480px) {
  .list-group-item {
    font-size: 0.75rem;
  }
}

